@import url('variables.css');



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar-left main sidebar-right"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
header {
    grid-area: header;
    background-color: #f4f4f4;
    text-align: center;
    padding: 1em;
}

footer{
    grid-area: footer;
    background-color: #f4f4f4;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #f8f9fa;
    padding: 1em;
    height: 100%;
}
#sidebar-left {
    grid-area: sidebar-left;
}
#sidebar-right {
    grid-area: sidebar-right;
}
main {
    grid-area: main;
    padding: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}
img {
    max-width: 100px;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    margin: var(--margin-spacing);
}

header h1 {
    font-size: var(--header-font-size);
    color: var(--primary-color);
}

p {
    font-size: var(--body-font-size);
    margin-bottom: var(--margin-spacing);
    color: var(--secondary-color);
}

ul li {
    margin-bottom: calc(var(--margin-spacing) / 2);
}

table {
    border: 1px solid var(--primary-color);
}

th {
    background-color: var(--primary-color);
    color: white;
}

td {
    color: var(--secondary-color);
    font-size: var(--body-font-size);
}
