* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  width: min(95vw, 800px);
  height: min(85vh, 600px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 80%;
  background-color: #4caf50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: clamp(0.6rem, 2vw, 2rem); /* Use clamp() for responsive font size */
  padding: 20px;
}

.content h1 {
  font-size: clamp(1.5rem, 5vw, 3rem); /* Clamp for h1 */
  margin-bottom: 15px;
}

.content p {
  font-size: clamp(1rem, 2vw, 1.5rem); /* Clamp for p */
  margin-bottom: 15px;
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

.content ul li {
  margin-bottom: 5px;
}

.content blockquote {
  font-style: italic;
  color: #fff;
  border-left: 5px solid #fff;
  padding-left: 15px;
  margin-top: 20px;
  font-size: clamp(1rem, 2vw, 1.5rem); /* Clamp for blockquote */
}
